#! /bin/bash

QUIET='&> /dev/null'
OS=$( uname -r | sed 's/^.*\(el[0-9]\+\).*$/\1/' ) 


pandoc2pdf()
{
  if [[ "$OS" == "el8" ]]; then
    pandoc -V geometry:letterpaper -V geometry:margin=1in  $1 --pdf-engine=pdflatex -o $2
  else
    pandoc -V geometry:letterpaper -V geometry:margin=1in $1 --latex-engine=pdflatex -o $2
  fi
}

passgen()
{
  cat /dev/urandom | tr -dc 'a-zA-Z0-9!@#$%&' | fold -w 16 | head -n100 | shuf -n1
}

proxify()
{
  PROXY='http://localhost:8080'

  export http_proxy="$PROXY"
  export HTTP_PROXY="$PROXY"
  export https_proxy="$PROXY"
  export HTTPS_PROXY="$PROXY"
}

pithos-start()
{
  # activate Python3
  . /opt/python3.7/venv/bin/activate

  # launch Pithos
  eval pushd /opt/pithos "$QUIET"
  eval ninja -C build run "$QUIET" &
  eval popd "$QUIET"

  # deactivate Python3
  deactivate
}
